Title: About
---
<div class="container py-6">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-4 mb-4">About me</h1>
            <hr class="border-1 border-light my-4 ml-0 text-left w-15" role="presentation">
            <p class="lead text-secondary">We love to learn, collaborate and create.</p>
        </div>
    </div>
</div>

<div class="bg-white text-black">
    <div class="container py-2">
        <div class="bg-white mt-n6 px-3 px-lg-0">
            <div class="row justify-content-center py-4 py-lg-5">
                <div class="col-md-10 col-lg-8">
                    <p>
                        I was with Oztix since 2007, and have had a significant part to play in designing and building the majority of the Oztix IT systems and software from the ground up. 
                        These days, I work at <a href="http://everythinginfo.cloud/">Everything Info</a> helping manage infrastructure and dev ops workloads the IT Operations team and take my knowledge of IT systems along with client support experience to deliver the IT operational requirements
                        for our largest onsite delivery events. I am one of the go-to Oztix IT trouble-shooters, who can swiftly solve any problem thrown at me.
                    </p>

                    <p>
                        My experience has been in the .NET space with hosting both on premise hosting and in Amazon Web Services.
                        Recently this has included managing more Linux based servers and automating the deployments for these.
                        I have spent a lot of time with the Amazon Web Services environment and the various products inside of that.
                    </p>

                    <p>
                        Over the last few years one of the areas I have focused on is upskilling the IT Operations team with DevOps principles and skills.
                        A large part of that has been ensuring that the IT Operations team works well with the Development team and Data teams to enable a more cohesive environment focused on delivery of value.
                        This has been completed via various changes to the teams such as a combined stand up each morning to cascade information from management and between teams. This improved the teams relationships and brought the teams into a much more cohesive environment.
                    </p>

                    <p>
                        I am a detail-orientated person who enjoys being able to deliver value to the teams I am working in and with.
                        I consider myself self-motivated, with excellent ability to take on a project and upskill myself where required with minimal input required.
                        I have the ability to plan and deliver projects from start to finish. Developing specifications is something that I pride myself on and working with various stakeholders to find the best solution for the business.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>